<!-- DMXVersion keyvalues2_v1 -->
"DmeElement"
{
	"id" "elementid" "89ffb4b3-1e39-48cb-9be5-b84bf4d498ba"
	"particleSystemDefinitions" "element_array" 
	[
		"DmeParticleSystemDefinition"
		{
			"id" "elementid" "36678b99-2451-4910-a0a9-bc5c75bfec07"
			"sequence_number" "int" "0"
			"rotation_speed" "float" "0"
			"rotation" "float" "0"
			"color" "color" "255 255 255 255"
			"radius" "float" "5"
			"bounding_box_max" "vector3" "512 512 0"
			"bounding_box_min" "vector3" "-512 -512 -1024"
			"bounding_box_control_point" "int" "0"
			"material" "string" "particle\\particle_glow_03.vmt"
			"initial_particles" "int" "0"
			"max_particles" "int" "10000"
			"preventNameBasedLookup" "bool" "0"
			"constraints" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "bafa9c11-2c1c-43c0-afd3-3d596e52317f"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"minimum distance" "float" "128"
					"maximum distance" "float" "10000"
					"control point number" "int" "0"
					"offset of center" "vector3" "0 0 0"
					"global center point" "bool" "1"
					"functionName" "string" "Constrain distance to control point"
					"name" "string" "Constrain distance to control point"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "1b7c28c5-9574-47ff-b190-867039642f0d"
					"global center point" "bool" "1"
					"offset of center" "vector3" "128 -1280 0"
					"control point number" "int" "0"
					"maximum distance" "float" "10000"
					"minimum distance" "float" "128"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "Constrain distance to control point"
					"name" "string" "Constrain distance to control point"
				}
			]
			"forces" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "80fc1fb4-a021-4206-b5fb-b7245061b64e"
					"max force" "vector3" "80 80 0"
					"min force" "vector3" "30 30 0"
					"operator fade oscillate" "float" "2"
					"operator end fadeout" "float" "0.5"
					"operator start fadeout" "float" "0.3000000119"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "random force"
					"name" "string" "random force"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "43a61d8c-73a4-4d68-aa8e-0d9df4d8ef50"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0.400000006"
					"operator end fadeout" "float" "0.6000000238"
					"operator fade oscillate" "float" "6.5"
					"min force" "vector3" "-30 0 0"
					"max force" "vector3" "-20 20 0"
					"functionName" "string" "random force"
					"name" "string" "random force"
				}
			]
			"children" "element_array" 
			[
				"DmeParticleChild"
				{
					"id" "elementid" "ee9a0e13-5e98-4fe0-b42a-c3795f14b1d6"
					"delay" "float" "0"
					"child" "element" "1dd78fb0-c65a-40c3-a8c0-e3503a8aa6df"
					"name" "string" "Rain_01_fog"
				},
				"DmeParticleChild"
				{
					"id" "elementid" "2b97de9b-bab3-40d6-a7de-fb70ce9cbd03"
					"delay" "float" "0"
					"child" "element" "79971300-3e93-4c8c-834c-9ecd7543c5cf"
					"name" "string" "Rain_01_impactfog"
				},
				"DmeParticleChild"
				{
					"id" "elementid" "dff7c770-2726-4485-a7cf-020e3559e523"
					"delay" "float" "0"
					"child" "element" "28dc86c2-ea8e-4078-ae6a-be807117c6d7"
					"name" "string" "Rain_01_impact"
				},
				"DmeParticleChild"
				{
					"id" "elementid" "16263af5-a33d-41f8-a8f9-e12ae7ecc15a"
					"delay" "float" "0"
					"child" "element" "aa81be73-99e9-4333-a5fe-1b8d1dc3991f"
					"name" "string" "Rain_01_impactring"
				}
			]
			"emitters" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "c2f00efc-2cd8-4635-855c-e207c048dd89"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"emission_start_time" "float" "0"
					"emission_rate" "float" "2000"
					"emission_duration" "float" "0"
					"functionName" "string" "emit_continuously"
					"name" "string" "emit_continuously"
				}
			]
			"initializers" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "7efc02ad-8d2b-4a56-87db-972f56e35a07"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"alpha_min" "int" "90"
					"alpha_max" "int" "50"
					"alpha_random_exponent" "float" "1"
					"functionName" "string" "alpha_random"
					"name" "string" "alpha_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "65653238-96ab-4cef-b35b-b536092184d8"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"radius_min" "float" "0.5"
					"radius_max" "float" "0.5"
					"radius_random_exponent" "float" "1"
					"functionName" "string" "radius_random"
					"name" "string" "radius_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "d1186c33-d2a0-4199-aca6-81c200cf8c87"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"lifetime_min" "float" "3"
					"lifetime_max" "float" "3"
					"lifetime_random_exponent" "float" "1"
					"functionName" "string" "lifetime_random"
					"name" "string" "lifetime_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "6f71bee4-cb7d-4dae-a04e-a8b7f84148bb"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"distance_min" "float" "0"
					"distance_max" "float" "0"
					"distance_bias" "vector3" "1 1 0"
					"distance_bias_absolute_value" "vector3" "0 0 0"
					"bias in local system" "bool" "0"
					"control_point_number" "int" "0"
					"speed_min" "float" "-32"
					"speed_max" "float" "32"
					"speed_random_exponent" "float" "1"
					"speed_in_local_coordinate_system_min" "vector3" "0 0 -200"
					"speed_in_local_coordinate_system_max" "vector3" "0 0 -200"
					"functionName" "string" "position_within_sphere"
					"name" "string" "position_within_sphere"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "cffb6fa8-b149-403b-881b-53703d762d97"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"control_point_number" "int" "0"
					"offset min" "vector3" "-512 -512 0"
					"offset max" "vector3" "512 512 0"
					"offset in local space 0/1" "bool" "0"
					"functionName" "string" "position_offset_random"
					"name" "string" "position_offset_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "3c6caf41-68e3-4b65-b4cf-b190f335e3a0"
					"length_random_exponent" "float" "1"
					"length_max" "float" "0.1000000015"
					"length_min" "float" "0.0799999982"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "trail_length_random"
					"name" "string" "trail_length_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "655aad98-e820-4b85-88ce-3b8cae2bbf2d"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"color1" "color" "68 69 71 255"
					"color2" "color" "130 145 151 255"
					"tint_perc" "float" "0"
					"functionName" "string" "color_random"
					"name" "string" "color_random"
				}
			]
			"operators" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "04221435-9379-4552-9f1e-227a501a7a93"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"fade in time min" "float" "0.5"
					"fade in time max" "float" "2"
					"fade in time exponent" "float" "1"
					"proportional 0/1" "bool" "0"
					"functionName" "string" "alpha_fade_in_random"
					"name" "string" "alpha_fade_in_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "0f301e05-7a3c-459f-9c80-8689f6460311"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"functionName" "string" "lifespan_decay"
					"name" "string" "lifespan_decay"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "6ae43266-dbae-4880-b7d7-960d27d300ba"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"gravity" "vector3" "0 10 -100"
					"drag" "float" "0"
					"max constraint passes" "int" "3"
					"functionName" "string" "basic_movement"
					"name" "string" "basic_movement"
				}
			]
			"renderers" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "dd088aa8-296b-43fc-aa9a-07b6e1334ab4"
					"animation rate" "float" "0.1000000015"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "render_sprite_trail"
					"name" "string" "render_sprite_trail"
				}
			]
			"name" "string" "Rain_01"
		},
		"element" "1dd78fb0-c65a-40c3-a8c0-e3503a8aa6df",
		"element" "28dc86c2-ea8e-4078-ae6a-be807117c6d7",
		"element" "aa81be73-99e9-4333-a5fe-1b8d1dc3991f",
		"element" "79971300-3e93-4c8c-834c-9ecd7543c5cf",
		"DmeParticleSystemDefinition"
		{
			"id" "elementid" "b82b79b9-a487-461a-bdf9-a32b1d80ab5b"
			"sequence_number" "int" "0"
			"rotation_speed" "float" "0"
			"rotation" "float" "0"
			"color" "color" "255 255 255 255"
			"radius" "float" "5"
			"bounding_box_max" "vector3" "512 512 32"
			"bounding_box_min" "vector3" "-512 -512 -32"
			"bounding_box_control_point" "int" "0"
			"material" "string" "particle\\antlion_goop3\\antlion_goop3.vmt"
			"initial_particles" "int" "0"
			"max_particles" "int" "10000"
			"preventNameBasedLookup" "bool" "0"
			"constraints" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "b65f995e-6b5a-4c44-b2f8-db8074fdeaa2"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"minimum distance" "float" "128"
					"maximum distance" "float" "10000"
					"control point number" "int" "0"
					"offset of center" "vector3" "0 0 0"
					"global center point" "bool" "1"
					"functionName" "string" "Constrain distance to control point"
					"name" "string" "Constrain distance to control point"
				}
			]
			"forces" "element_array" 
			[
			]
			"children" "element_array" 
			[
				"DmeParticleChild"
				{
					"id" "elementid" "2ce37593-d2fa-4663-a67f-53e26ffb3d95"
					"delay" "float" "0"
					"child" "element" "d9fd89d2-da4a-400f-9d43-fd23f7b6cd0d"
					"name" "string" "Rain_01_character_shoulder_b"
				}
			]
			"emitters" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "ab2d6829-4798-4182-9e09-66c200ec67d1"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"emission_start_time" "float" "0"
					"emission_rate" "float" "100"
					"emission_duration" "float" "0"
					"functionName" "string" "emit_continuously"
					"name" "string" "emit_continuously"
				}
			]
			"initializers" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "183288d1-1928-49c4-a1d1-4605ab1428f0"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"alpha_min" "int" "50"
					"alpha_max" "int" "80"
					"alpha_random_exponent" "float" "1"
					"functionName" "string" "alpha_random"
					"name" "string" "alpha_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "ef12b37d-3f61-40c1-acf0-b4b3c0185ae9"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"radius_min" "float" "1"
					"radius_max" "float" "2"
					"radius_random_exponent" "float" "1"
					"functionName" "string" "radius_random"
					"name" "string" "radius_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "d3d73212-e838-4def-997b-bde3b3a6b493"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"lifetime_min" "float" "0.3000000119"
					"lifetime_max" "float" "0.6999999881"
					"lifetime_random_exponent" "float" "1"
					"functionName" "string" "lifetime_random"
					"name" "string" "lifetime_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "c2c34c98-7c5e-4e5b-bf82-b778d11cb99c"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"distance_min" "float" "2"
					"distance_max" "float" "11"
					"distance_bias" "vector3" "1 0 0"
					"distance_bias_absolute_value" "vector3" "0 0 0"
					"bias in local system" "bool" "1"
					"control_point_number" "int" "0"
					"speed_min" "float" "0"
					"speed_max" "float" "24"
					"speed_random_exponent" "float" "1"
					"speed_in_local_coordinate_system_min" "vector3" "0 0 12"
					"speed_in_local_coordinate_system_max" "vector3" "0 0 22"
					"functionName" "string" "position_within_sphere"
					"name" "string" "position_within_sphere"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "7931939a-9eec-4b6f-9d75-c5ff207d9bc7"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"color1" "color" "113 115 117 255"
					"color2" "color" "179 198 204 255"
					"tint_perc" "float" "0"
					"functionName" "string" "color_random"
					"name" "string" "color_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "8ee56e0c-0d22-4cf8-a0fb-59c1d2c82742"
					"rotation_random_exponent" "float" "1"
					"rotation_offset_max" "float" "360"
					"rotation_offset_min" "float" "0"
					"rotation_initial" "float" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "rotation_random"
					"name" "string" "rotation_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "573d7cd4-d9df-4b04-8f32-1d99c863fa4c"
					"sequence_max" "int" "3"
					"sequence_min" "int" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "sequence_random"
					"name" "string" "sequence_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "e788739d-9a9f-45ca-99b9-cd9f0ee539a1"
					"offset in local space 0/1" "bool" "1"
					"offset max" "vector3" "0 0 0"
					"offset min" "vector3" "0 -2 -2.5"
					"control_point_number" "int" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "position_offset_random"
					"name" "string" "position_offset_random"
				}
			]
			"operators" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "8fb1b438-6c85-40e3-a1b5-ecc55b8c0a3e"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"functionName" "string" "lifespan_decay"
					"name" "string" "lifespan_decay"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "7f173a95-a8d1-486a-a31b-1b9d08ab202e"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"gravity" "vector3" "0 10 -100"
					"drag" "float" "0"
					"max constraint passes" "int" "3"
					"functionName" "string" "basic_movement"
					"name" "string" "basic_movement"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "11b0d225-9a58-4674-b2d4-0139cddf7b9d"
					"scale_bias" "float" "0.5"
					"ease_in_and_out" "bool" "0"
					"radius_end_scale" "float" "1.5"
					"radius_start_scale" "float" "1"
					"end_time" "float" "1"
					"start_time" "float" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "radius_scale"
					"name" "string" "radius_scale"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "6e2cacaa-2c0d-4e23-934a-0009f7a3119f"
					"proportional 0/1" "bool" "1"
					"fade out time exponent" "float" "1"
					"fade out time max" "float" "0.6999999881"
					"fade out time min" "float" "0.3000000119"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "alpha_fade_out_random"
					"name" "string" "alpha_fade_out_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "8cc05bda-bde7-49f4-83ca-8257defc6529"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"spin_rate_degrees" "int" "5"
					"spin_stop_time" "float" "0.5"
					"spin_rate_min" "int" "0"
					"functionName" "string" "rotation_spin"
					"name" "string" "rotation_spin"
				}
			]
			"renderers" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "9a76346e-b3c9-4d2c-a143-967a0ad036b4"
					"orientation_type" "int" "0"
					"animation_fit_lifetime" "bool" "1"
					"animation rate" "float" "2.7000000477"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "render_animated_sprites"
					"name" "string" "render_animated_sprites"
				}
			]
			"name" "string" "Rain_01_character_shoulder"
		},
		"DmeParticleSystemDefinition"
		{
			"id" "elementid" "b421d784-ed6d-4340-bdab-95cd02682b3e"
			"sequence_number" "int" "0"
			"rotation_speed" "float" "0"
			"rotation" "float" "0"
			"color" "color" "255 255 255 255"
			"radius" "float" "5"
			"bounding_box_max" "vector3" "512 512 32"
			"bounding_box_min" "vector3" "-512 -512 -32"
			"bounding_box_control_point" "int" "0"
			"material" "string" "particle\\antlion_goop3\\antlion_goop3.vmt"
			"initial_particles" "int" "0"
			"max_particles" "int" "10000"
			"preventNameBasedLookup" "bool" "0"
			"constraints" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "0f10b564-3798-42be-8a91-bc50ec3a5ccd"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"minimum distance" "float" "128"
					"maximum distance" "float" "10000"
					"control point number" "int" "0"
					"offset of center" "vector3" "0 0 0"
					"global center point" "bool" "1"
					"functionName" "string" "Constrain distance to control point"
					"name" "string" "Constrain distance to control point"
				}
			]
			"forces" "element_array" 
			[
			]
			"children" "element_array" 
			[
				"DmeParticleChild"
				{
					"id" "elementid" "55ef57a8-0d72-4ec9-b86b-a2e07f9f7095"
					"delay" "float" "0"
					"child" "element" "942ebd17-0569-487b-ac7e-64dad8724395"
					"name" "string" "Rain_01_character_head_b"
				}
			]
			"emitters" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "d99298fc-c66c-4f70-af24-f0daf22b4011"
					"emission_duration" "float" "0"
					"emission_rate" "float" "140"
					"emission_start_time" "float" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "emit_continuously"
					"name" "string" "emit_continuously"
				}
			]
			"initializers" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "d8434118-7f1c-4093-ac03-44447c2e9765"
					"alpha_random_exponent" "float" "1"
					"alpha_max" "int" "80"
					"alpha_min" "int" "50"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "alpha_random"
					"name" "string" "alpha_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "e2dbb214-3f53-44ba-93c5-518b788d2893"
					"radius_random_exponent" "float" "1"
					"radius_max" "float" "2"
					"radius_min" "float" "1"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "radius_random"
					"name" "string" "radius_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "676f6af1-6aab-412e-a344-38aa61695eaa"
					"lifetime_random_exponent" "float" "1"
					"lifetime_max" "float" "0.6999999881"
					"lifetime_min" "float" "0.3000000119"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "lifetime_random"
					"name" "string" "lifetime_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "b45659a5-bf16-4f8c-b312-a3d2e1d0acdd"
					"speed_in_local_coordinate_system_max" "vector3" "0 0 15"
					"speed_in_local_coordinate_system_min" "vector3" "0 0 12"
					"speed_random_exponent" "float" "1"
					"speed_max" "float" "15"
					"speed_min" "float" "0"
					"control_point_number" "int" "0"
					"bias in local system" "bool" "1"
					"distance_bias_absolute_value" "vector3" "0 0 1"
					"distance_bias" "vector3" "1 1 5"
					"distance_max" "float" "8"
					"distance_min" "float" "6"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "position_within_sphere"
					"name" "string" "position_within_sphere"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "d1ea5f00-626c-48bb-87b8-614aa0d13261"
					"tint_perc" "float" "0"
					"color2" "color" "130 145 151 255"
					"color1" "color" "184 187 195 255"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "color_random"
					"name" "string" "color_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "c2eb9122-1390-4004-a16d-89785c35126d"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"rotation_initial" "float" "0"
					"rotation_offset_min" "float" "0"
					"rotation_offset_max" "float" "360"
					"rotation_random_exponent" "float" "1"
					"functionName" "string" "rotation_random"
					"name" "string" "rotation_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "07411cb2-7911-480d-a954-ec36c4c3459f"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"sequence_min" "int" "0"
					"sequence_max" "int" "3"
					"functionName" "string" "sequence_random"
					"name" "string" "sequence_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "b51d188f-0760-44b4-92e6-7d5b18d5250a"
					"offset in local space 0/1" "bool" "1"
					"offset max" "vector3" "-4 0 -4"
					"offset min" "vector3" "-10 0 -6"
					"control_point_number" "int" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "position_offset_random"
					"name" "string" "position_offset_random"
				}
			]
			"operators" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "812024f6-626d-4953-82f5-57623abdea4b"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "lifespan_decay"
					"name" "string" "lifespan_decay"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "fb732c42-605e-4134-a81b-fd69bb9c15d4"
					"max constraint passes" "int" "3"
					"drag" "float" "0"
					"gravity" "vector3" "0 10 -100"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "basic_movement"
					"name" "string" "basic_movement"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "1fbcfa81-8668-4180-8297-20b7d45bbe51"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"start_time" "float" "0"
					"end_time" "float" "1"
					"radius_start_scale" "float" "0.6000000238"
					"radius_end_scale" "float" "2"
					"ease_in_and_out" "bool" "0"
					"scale_bias" "float" "0.5"
					"functionName" "string" "radius_scale"
					"name" "string" "radius_scale"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "0b358400-994f-4793-889a-c2b6ef28e9e0"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"fade out time min" "float" "0.3000000119"
					"fade out time max" "float" "0.6999999881"
					"fade out time exponent" "float" "1"
					"proportional 0/1" "bool" "1"
					"functionName" "string" "alpha_fade_out_random"
					"name" "string" "alpha_fade_out_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "1994b7a7-a964-4af4-a57b-58c77a0bb785"
					"spin_rate_min" "int" "0"
					"spin_stop_time" "float" "0.5"
					"spin_rate_degrees" "int" "5"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "rotation_spin"
					"name" "string" "rotation_spin"
				}
			]
			"renderers" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "a41c3aa7-3d6b-4a08-848c-c4c3c4b9c627"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"animation rate" "float" "2.7000000477"
					"animation_fit_lifetime" "bool" "1"
					"orientation_type" "int" "0"
					"functionName" "string" "render_animated_sprites"
					"name" "string" "render_animated_sprites"
				}
			]
			"name" "string" "Rain_01_character_head"
		},
		"element" "d9fd89d2-da4a-400f-9d43-fd23f7b6cd0d",
		"element" "942ebd17-0569-487b-ac7e-64dad8724395",
		"DmeParticleSystemDefinition"
		{
			"id" "elementid" "02637e75-bde5-43fd-ae41-bf72b7840482"
			"sequence_number" "int" "0"
			"rotation_speed" "float" "0"
			"rotation" "float" "0"
			"color" "color" "255 255 255 255"
			"radius" "float" "5"
			"bounding_box_max" "vector3" "512 512 32"
			"bounding_box_min" "vector3" "-512 -512 -32"
			"bounding_box_control_point" "int" "0"
			"material" "string" "particle\\antlion_goop3\\antlion_goop3.vmt"
			"initial_particles" "int" "0"
			"max_particles" "int" "10000"
			"preventNameBasedLookup" "bool" "0"
			"constraints" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "224d05bb-c1ad-4ddd-9843-3063f4baaff6"
					"global center point" "bool" "1"
					"offset of center" "vector3" "0 0 0"
					"control point number" "int" "0"
					"maximum distance" "float" "128"
					"minimum distance" "float" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "Constrain distance to control point"
					"name" "string" "Constrain distance to control point"
				}
			]
			"forces" "element_array" 
			[
			]
			"children" "element_array" 
			[
			]
			"emitters" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "206083e1-f1ef-4bd1-89f5-f58d33002ee1"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"emission_start_time" "float" "0"
					"emission_rate" "float" "500"
					"emission_duration" "float" "0"
					"functionName" "string" "emit_continuously"
					"name" "string" "emit_continuously"
				}
			]
			"initializers" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "9b60ce9d-f3d3-47c0-9353-28e885e5e61a"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"alpha_min" "int" "30"
					"alpha_max" "int" "90"
					"alpha_random_exponent" "float" "1"
					"functionName" "string" "alpha_random"
					"name" "string" "alpha_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "41a25892-4506-43ba-8196-7c60031928ae"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"radius_min" "float" "5"
					"radius_max" "float" "8"
					"radius_random_exponent" "float" "1"
					"functionName" "string" "radius_random"
					"name" "string" "radius_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "966ca258-6ab6-4194-b072-fde55d9a2f49"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"lifetime_min" "float" "0.3000000119"
					"lifetime_max" "float" "0.6999999881"
					"lifetime_random_exponent" "float" "1"
					"functionName" "string" "lifetime_random"
					"name" "string" "lifetime_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "33c04061-a5b8-4a28-8a70-751011f3ecdb"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"distance_min" "float" "128"
					"distance_max" "float" "128"
					"distance_bias" "vector3" "1 1 1"
					"distance_bias_absolute_value" "vector3" "0 0 1"
					"bias in local system" "bool" "0"
					"control_point_number" "int" "0"
					"speed_min" "float" "0"
					"speed_max" "float" "32"
					"speed_random_exponent" "float" "1"
					"speed_in_local_coordinate_system_min" "vector3" "0 0 8"
					"speed_in_local_coordinate_system_max" "vector3" "0 0 15"
					"functionName" "string" "position_within_sphere"
					"name" "string" "position_within_sphere"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "3fb40c6e-b01c-4a7c-b3e0-5a1733b4deb2"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"color1" "color" "68 69 71 255"
					"color2" "color" "130 145 151 255"
					"tint_perc" "float" "0"
					"functionName" "string" "color_random"
					"name" "string" "color_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "6fd01cc3-d39e-4e02-b607-79e0e1e2a2fe"
					"rotation_random_exponent" "float" "1"
					"rotation_offset_max" "float" "360"
					"rotation_offset_min" "float" "0"
					"rotation_initial" "float" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "rotation_random"
					"name" "string" "rotation_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "9a43bee4-358e-490e-b9df-d49507785020"
					"sequence_max" "int" "3"
					"sequence_min" "int" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "sequence_random"
					"name" "string" "sequence_random"
				}
			]
			"operators" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "1ca36987-e7f7-4394-ac0f-dd4074581db3"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"functionName" "string" "lifespan_decay"
					"name" "string" "lifespan_decay"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "8e39eebb-6e86-4a03-909f-7532b77d2b33"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"gravity" "vector3" "0 10 -100"
					"drag" "float" "0"
					"max constraint passes" "int" "3"
					"functionName" "string" "basic_movement"
					"name" "string" "basic_movement"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "bf2a1a44-e41d-44e8-94fb-7a4d913537a9"
					"scale_bias" "float" "0.5"
					"ease_in_and_out" "bool" "0"
					"radius_end_scale" "float" "1.5"
					"radius_start_scale" "float" "0.6000000238"
					"end_time" "float" "1"
					"start_time" "float" "0"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "radius_scale"
					"name" "string" "radius_scale"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "32143fdd-b94b-45d5-ae2f-661f131c187e"
					"proportional 0/1" "bool" "1"
					"fade out time exponent" "float" "1"
					"fade out time max" "float" "0.6999999881"
					"fade out time min" "float" "0.3000000119"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "alpha_fade_out_random"
					"name" "string" "alpha_fade_out_random"
				},
				"DmeParticleOperator"
				{
					"id" "elementid" "c80aae3c-817e-4daf-990c-884eab45ca5b"
					"operator start fadein" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadeout" "float" "0"
					"operator fade oscillate" "float" "0"
					"spin_rate_degrees" "int" "5"
					"spin_stop_time" "float" "0.5"
					"spin_rate_min" "int" "0"
					"functionName" "string" "rotation_spin"
					"name" "string" "rotation_spin"
				}
			]
			"renderers" "element_array" 
			[
				"DmeParticleOperator"
				{
					"id" "elementid" "2b44826f-8f6c-4da3-8e02-ae9b0b68dba1"
					"orientation_type" "int" "0"
					"animation_fit_lifetime" "bool" "1"
					"animation rate" "float" "2.7000000477"
					"operator fade oscillate" "float" "0"
					"operator end fadeout" "float" "0"
					"operator start fadeout" "float" "0"
					"operator end fadein" "float" "0"
					"operator start fadein" "float" "0"
					"functionName" "string" "render_animated_sprites"
					"name" "string" "render_animated_sprites"
				}
			]
			"name" "string" "Rain_01_impact_sphere"
		}
	]
	"name" "string" "untitled"
}

"DmeParticleSystemDefinition"
{
	"id" "elementid" "1dd78fb0-c65a-40c3-a8c0-e3503a8aa6df"
	"sequence_number" "int" "0"
	"rotation_speed" "float" "0"
	"rotation" "float" "0"
	"color" "color" "255 255 255 255"
	"radius" "float" "5"
	"bounding_box_max" "vector3" "512 512 0"
	"bounding_box_min" "vector3" "-512 -512 -1024"
	"bounding_box_control_point" "int" "0"
	"material" "string" "particle\\particle_glow_03.vmt"
	"initial_particles" "int" "0"
	"max_particles" "int" "10000"
	"preventNameBasedLookup" "bool" "0"
	"constraints" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "e5676aaa-1cfe-4edd-ae21-c3cca34a8bee"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"minimum distance" "float" "256"
			"maximum distance" "float" "10000"
			"control point number" "int" "0"
			"offset of center" "vector3" "0 0 0"
			"global center point" "bool" "1"
			"functionName" "string" "Constrain distance to control point"
			"name" "string" "Constrain distance to control point"
		}
	]
	"forces" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "753c11ec-33a4-4020-b4dc-f1ba19a75c18"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"min force" "vector3" "-2 -2 -2"
			"max force" "vector3" "2 2 2"
			"functionName" "string" "random force"
			"name" "string" "random force"
		}
	]
	"children" "element_array" 
	[
	]
	"emitters" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "f11faacd-2abb-4a0e-9467-130eebdcfe31"
			"emission_duration" "float" "0"
			"emission_rate" "float" "7"
			"emission_start_time" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "emit_continuously"
			"name" "string" "emit_continuously"
		}
	]
	"initializers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "d6bcef35-b3b4-410b-b54a-45a027d341ab"
			"alpha_random_exponent" "float" "1"
			"alpha_max" "int" "20"
			"alpha_min" "int" "10"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_random"
			"name" "string" "alpha_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "f0100238-22c4-4c63-8146-903b33402d1d"
			"radius_random_exponent" "float" "1"
			"radius_max" "float" "256"
			"radius_min" "float" "200"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "radius_random"
			"name" "string" "radius_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "6f0a1b71-ff16-45fc-8c82-a51ead218708"
			"lifetime_random_exponent" "float" "1"
			"lifetime_max" "float" "6"
			"lifetime_min" "float" "4"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "lifetime_random"
			"name" "string" "lifetime_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "8bb9b491-709e-412c-9124-394837abe72f"
			"speed_in_local_coordinate_system_max" "vector3" "0 0 0"
			"speed_in_local_coordinate_system_min" "vector3" "0 0 0"
			"speed_random_exponent" "float" "1"
			"speed_max" "float" "32"
			"speed_min" "float" "-32"
			"control_point_number" "int" "0"
			"bias in local system" "bool" "0"
			"distance_bias_absolute_value" "vector3" "0 0 0"
			"distance_bias" "vector3" "1 1 0"
			"distance_max" "float" "0"
			"distance_min" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "position_within_sphere"
			"name" "string" "position_within_sphere"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "8998ab40-f4dd-4e37-8316-61b1e408646c"
			"offset in local space 0/1" "bool" "0"
			"offset max" "vector3" "450 450 0"
			"offset min" "vector3" "-450 -450 -870"
			"control_point_number" "int" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "position_offset_random"
			"name" "string" "position_offset_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "db04ca84-c742-43ae-b22c-a4d09024d322"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"rotation_initial" "float" "0"
			"rotation_offset_min" "float" "0"
			"rotation_offset_max" "float" "360"
			"rotation_random_exponent" "float" "1"
			"functionName" "string" "rotation_random"
			"name" "string" "rotation_random"
		}
	]
	"operators" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "283058d4-a7e5-4c0b-b77a-dabe4d54e545"
			"proportional 0/1" "bool" "1"
			"fade in time exponent" "float" "1"
			"fade in time max" "float" "0.400000006"
			"fade in time min" "float" "0.5"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_fade_in_random"
			"name" "string" "alpha_fade_in_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "11f4c40f-2b97-4eb1-9592-1eb8fac494fd"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "lifespan_decay"
			"name" "string" "lifespan_decay"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "f6c79749-253d-4265-9ee2-58d194d11093"
			"max constraint passes" "int" "3"
			"drag" "float" "0"
			"gravity" "vector3" "0 0 0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "basic_movement"
			"name" "string" "basic_movement"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "50d35b83-bfba-4080-80ee-eb0e23ca379f"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"fade out time min" "float" "0.5"
			"fade out time max" "float" "0.400000006"
			"fade out time exponent" "float" "1"
			"proportional 0/1" "bool" "1"
			"functionName" "string" "alpha_fade_out_random"
			"name" "string" "alpha_fade_out_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "fb749784-6ba8-4eef-8bc3-f3dfaaab4aec"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"start_time" "float" "0"
			"end_time" "float" "1"
			"radius_start_scale" "float" "1"
			"radius_end_scale" "float" "3"
			"ease_in_and_out" "bool" "0"
			"scale_bias" "float" "0.5"
			"functionName" "string" "radius_scale"
			"name" "string" "radius_scale"
		}
	]
	"renderers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "8534be9d-0116-4d3e-b3b5-a72c192d2012"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"animation rate" "float" "0.1000000015"
			"animation_fit_lifetime" "bool" "0"
			"orientation_type" "int" "0"
			"functionName" "string" "render_animated_sprites"
			"name" "string" "render_animated_sprites"
		}
	]
	"name" "string" "Rain_01_fog"
}

"DmeParticleSystemDefinition"
{
	"id" "elementid" "79971300-3e93-4c8c-834c-9ecd7543c5cf"
	"sequence_number" "int" "0"
	"rotation_speed" "float" "0"
	"rotation" "float" "0"
	"color" "color" "255 255 255 255"
	"radius" "float" "5"
	"bounding_box_max" "vector3" "512 512 32"
	"bounding_box_min" "vector3" "-512 -512 -32"
	"bounding_box_control_point" "int" "0"
	"material" "string" "particle\\particle_glow_03.vmt"
	"initial_particles" "int" "0"
	"max_particles" "int" "10000"
	"preventNameBasedLookup" "bool" "0"
	"constraints" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "101a905f-4098-4aaa-bf6e-c2c9f7fa896f"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"minimum distance" "float" "128"
			"maximum distance" "float" "10000"
			"control point number" "int" "0"
			"offset of center" "vector3" "0 0 0"
			"global center point" "bool" "1"
			"functionName" "string" "Constrain distance to control point"
			"name" "string" "Constrain distance to control point"
		}
	]
	"forces" "element_array" 
	[
	]
	"children" "element_array" 
	[
	]
	"emitters" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "a7a83f60-b872-49a3-9ba7-814309218853"
			"emission_duration" "float" "0"
			"emission_rate" "float" "20"
			"emission_start_time" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "emit_continuously"
			"name" "string" "emit_continuously"
		}
	]
	"initializers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "aa363eba-599d-41b9-b2a5-217692201856"
			"alpha_random_exponent" "float" "1"
			"alpha_max" "int" "20"
			"alpha_min" "int" "10"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_random"
			"name" "string" "alpha_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "ede12e91-dd62-4a42-903e-cbfd8a9b5b53"
			"radius_random_exponent" "float" "1"
			"radius_max" "float" "250"
			"radius_min" "float" "150"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "radius_random"
			"name" "string" "radius_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "1111a1e3-9695-4e50-a0cd-0915abb449e1"
			"lifetime_random_exponent" "float" "1"
			"lifetime_max" "float" "6"
			"lifetime_min" "float" "4"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "lifetime_random"
			"name" "string" "lifetime_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "a03e8583-08a5-4540-ae6e-40d466184cb8"
			"speed_in_local_coordinate_system_max" "vector3" "0 0 0"
			"speed_in_local_coordinate_system_min" "vector3" "0 0 0"
			"speed_random_exponent" "float" "1"
			"speed_max" "float" "0"
			"speed_min" "float" "0"
			"control_point_number" "int" "0"
			"bias in local system" "bool" "0"
			"distance_bias_absolute_value" "vector3" "0 0 0"
			"distance_bias" "vector3" "1 1 0"
			"distance_max" "float" "0"
			"distance_min" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "position_within_sphere"
			"name" "string" "position_within_sphere"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "1947448c-21ba-4513-b082-174854ecc13a"
			"offset in local space 0/1" "bool" "0"
			"offset max" "vector3" "512 512 -950"
			"offset min" "vector3" "-512 -512 -950"
			"control_point_number" "int" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "position_offset_random"
			"name" "string" "position_offset_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "d469c8fe-acaa-4b12-ad52-ca0c25b8c253"
			"tint_perc" "float" "0"
			"color2" "color" "130 145 151 255"
			"color1" "color" "68 69 71 255"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "color_random"
			"name" "string" "color_random"
		}
	]
	"operators" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "72430bb8-02b9-405f-9cf0-b950de6b3e7f"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "lifespan_decay"
			"name" "string" "lifespan_decay"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "10e6b0ac-0fdf-4142-a738-c02e1261cb32"
			"max constraint passes" "int" "3"
			"drag" "float" "0"
			"gravity" "vector3" "0 0 0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "basic_movement"
			"name" "string" "basic_movement"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "a4bb8e65-e2c4-4c5e-948e-92302d3a2852"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"start_time" "float" "0"
			"end_time" "float" "1"
			"radius_start_scale" "float" "0.5"
			"radius_end_scale" "float" "4"
			"ease_in_and_out" "bool" "0"
			"scale_bias" "float" "0.5"
			"functionName" "string" "radius_scale"
			"name" "string" "radius_scale"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "e8c022ae-e21d-48a3-baa7-2b21e0c183b4"
			"spin_rate_min" "int" "0"
			"spin_stop_time" "float" "1"
			"spin_rate_degrees" "int" "15"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "rotation_spin"
			"name" "string" "rotation_spin"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "2ca15c85-0ae5-46b8-9e1e-8d2d0f7cc1a5"
			"proportional 0/1" "bool" "1"
			"fade in time exponent" "float" "1"
			"fade in time max" "float" "0.5"
			"fade in time min" "float" "0.25"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_fade_in_random"
			"name" "string" "alpha_fade_in_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "c0c51eb3-bb77-48c6-956b-9327fdc465cf"
			"proportional 0/1" "bool" "1"
			"fade out time exponent" "float" "1"
			"fade out time max" "float" "0.8000000119"
			"fade out time min" "float" "0.5"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_fade_out_random"
			"name" "string" "alpha_fade_out_random"
		}
	]
	"renderers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "28416858-9841-4d38-9677-a7e0b5ae3fca"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"animation rate" "float" "0.1000000015"
			"animation_fit_lifetime" "bool" "1"
			"orientation_type" "int" "2"
			"functionName" "string" "render_animated_sprites"
			"name" "string" "render_animated_sprites"
		}
	]
	"name" "string" "Rain_01_impactfog"
}

"DmeParticleSystemDefinition"
{
	"id" "elementid" "28dc86c2-ea8e-4078-ae6a-be807117c6d7"
	"sequence_number" "int" "0"
	"rotation_speed" "float" "0"
	"rotation" "float" "0"
	"color" "color" "255 255 255 255"
	"radius" "float" "5"
	"bounding_box_max" "vector3" "512 512 32"
	"bounding_box_min" "vector3" "-512 -512 -32"
	"bounding_box_control_point" "int" "0"
	"material" "string" "particle\\antlion_goop3\\antlion_goop3.vmt"
	"initial_particles" "int" "0"
	"max_particles" "int" "10000"
	"preventNameBasedLookup" "bool" "0"
	"constraints" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "7936b041-ac09-4bf9-b867-cbc08b684b84"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"minimum distance" "float" "128"
			"maximum distance" "float" "10000"
			"control point number" "int" "0"
			"offset of center" "vector3" "0 0 0"
			"global center point" "bool" "1"
			"functionName" "string" "Constrain distance to control point"
			"name" "string" "Constrain distance to control point"
		}
	]
	"forces" "element_array" 
	[
	]
	"children" "element_array" 
	[
	]
	"emitters" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "2ff35bcb-f934-4754-8587-55b8346304ca"
			"emission_duration" "float" "0"
			"emission_rate" "float" "4000"
			"emission_start_time" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "emit_continuously"
			"name" "string" "emit_continuously"
		}
	]
	"initializers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "aadff5d5-81d0-45b6-91b8-fc8ecfe517fa"
			"alpha_random_exponent" "float" "1"
			"alpha_max" "int" "90"
			"alpha_min" "int" "30"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_random"
			"name" "string" "alpha_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "4c310113-5273-4489-a068-ac78e5786367"
			"radius_random_exponent" "float" "1"
			"radius_max" "float" "16"
			"radius_min" "float" "9.5"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "radius_random"
			"name" "string" "radius_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "3be928e4-47c9-4929-938e-b3959f537033"
			"lifetime_random_exponent" "float" "1"
			"lifetime_max" "float" "0.6999999881"
			"lifetime_min" "float" "0.3000000119"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "lifetime_random"
			"name" "string" "lifetime_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "cd499602-b925-4de8-ab68-770de1bb5473"
			"speed_in_local_coordinate_system_max" "vector3" "0 0 15"
			"speed_in_local_coordinate_system_min" "vector3" "0 0 8"
			"speed_random_exponent" "float" "1"
			"speed_max" "float" "32"
			"speed_min" "float" "0"
			"control_point_number" "int" "0"
			"bias in local system" "bool" "0"
			"distance_bias_absolute_value" "vector3" "0 0 0"
			"distance_bias" "vector3" "1 1 0"
			"distance_max" "float" "0"
			"distance_min" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "position_within_sphere"
			"name" "string" "position_within_sphere"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "4fe0d92d-217b-47f4-8fc6-ee0e47ba1234"
			"offset in local space 0/1" "bool" "0"
			"offset max" "vector3" "512 512 -950"
			"offset min" "vector3" "-512 -512 -950"
			"control_point_number" "int" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "position_offset_random"
			"name" "string" "position_offset_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "05956683-e115-4a7d-ba6a-a448096234fb"
			"tint_perc" "float" "0"
			"color2" "color" "130 145 151 255"
			"color1" "color" "68 69 71 255"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "color_random"
			"name" "string" "color_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "cd163053-38aa-4b42-a40c-a32460062091"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"rotation_initial" "float" "0"
			"rotation_offset_min" "float" "0"
			"rotation_offset_max" "float" "360"
			"rotation_random_exponent" "float" "1"
			"functionName" "string" "rotation_random"
			"name" "string" "rotation_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "b7f4a48e-bc94-4edf-9244-71c1210130c6"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"sequence_min" "int" "0"
			"sequence_max" "int" "3"
			"functionName" "string" "sequence_random"
			"name" "string" "sequence_random"
		}
	]
	"operators" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "e4665323-66fd-4a88-a537-d7f6d3e9fcb1"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "lifespan_decay"
			"name" "string" "lifespan_decay"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "0ea54686-c4fe-4ee3-8fae-8ce866b00569"
			"max constraint passes" "int" "3"
			"drag" "float" "0"
			"gravity" "vector3" "0 10 -100"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "basic_movement"
			"name" "string" "basic_movement"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "890c3662-0231-40b5-8ace-82f982ca9016"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"start_time" "float" "0"
			"end_time" "float" "1"
			"radius_start_scale" "float" "0.6000000238"
			"radius_end_scale" "float" "3"
			"ease_in_and_out" "bool" "0"
			"scale_bias" "float" "0.5"
			"functionName" "string" "radius_scale"
			"name" "string" "radius_scale"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "d4482ecb-52d3-4996-b152-c889265f2ceb"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"fade out time min" "float" "0.3000000119"
			"fade out time max" "float" "0.6999999881"
			"fade out time exponent" "float" "1"
			"proportional 0/1" "bool" "1"
			"functionName" "string" "alpha_fade_out_random"
			"name" "string" "alpha_fade_out_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "d39ac132-33f1-4eec-8ff1-4a4b48f941b1"
			"spin_rate_min" "int" "0"
			"spin_stop_time" "float" "0.5"
			"spin_rate_degrees" "int" "5"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "rotation_spin"
			"name" "string" "rotation_spin"
		}
	]
	"renderers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "fe277ece-9bdf-4de3-ac83-55b0af715706"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"animation rate" "float" "2.7000000477"
			"animation_fit_lifetime" "bool" "1"
			"orientation_type" "int" "0"
			"functionName" "string" "render_animated_sprites"
			"name" "string" "render_animated_sprites"
		}
	]
	"name" "string" "Rain_01_impact"
}

"DmeParticleSystemDefinition"
{
	"id" "elementid" "aa81be73-99e9-4333-a5fe-1b8d1dc3991f"
	"sequence_number" "int" "0"
	"rotation_speed" "float" "0"
	"rotation" "float" "0"
	"color" "color" "255 255 255 255"
	"radius" "float" "5"
	"bounding_box_max" "vector3" "512 512 32"
	"bounding_box_min" "vector3" "-512 -512 -32"
	"bounding_box_control_point" "int" "0"
	"material" "string" "particle\\warp1_warp.vmt"
	"initial_particles" "int" "0"
	"max_particles" "int" "10000"
	"preventNameBasedLookup" "bool" "0"
	"constraints" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "70db2ebb-51b2-4171-8d61-992378bbaf10"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"minimum distance" "float" "128"
			"maximum distance" "float" "10000"
			"control point number" "int" "0"
			"offset of center" "vector3" "0 0 0"
			"global center point" "bool" "1"
			"functionName" "string" "Constrain distance to control point"
			"name" "string" "Constrain distance to control point"
		}
	]
	"forces" "element_array" 
	[
	]
	"children" "element_array" 
	[
	]
	"emitters" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "47d5fbed-8033-4135-96d4-f5ef122d42c0"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"emission_start_time" "float" "0"
			"emission_rate" "float" "800"
			"emission_duration" "float" "0"
			"functionName" "string" "emit_continuously"
			"name" "string" "emit_continuously"
		}
	]
	"initializers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "c652e35a-d53f-45a8-8825-170ae34ce016"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"alpha_min" "int" "30"
			"alpha_max" "int" "90"
			"alpha_random_exponent" "float" "1"
			"functionName" "string" "alpha_random"
			"name" "string" "alpha_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "5be74776-b82a-4320-85f2-5e9c9ea4d04e"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"radius_min" "float" "1"
			"radius_max" "float" "3"
			"radius_random_exponent" "float" "1"
			"functionName" "string" "radius_random"
			"name" "string" "radius_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "4c4a30fa-dd74-423a-958d-01e072fbc8ce"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"lifetime_min" "float" "0.3000000119"
			"lifetime_max" "float" "0.8000000119"
			"lifetime_random_exponent" "float" "1"
			"functionName" "string" "lifetime_random"
			"name" "string" "lifetime_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "045d2475-fcef-4958-a277-9d60d8fab44d"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"distance_min" "float" "0"
			"distance_max" "float" "0"
			"distance_bias" "vector3" "1 1 0"
			"distance_bias_absolute_value" "vector3" "0 0 0"
			"bias in local system" "bool" "0"
			"control_point_number" "int" "0"
			"speed_min" "float" "0"
			"speed_max" "float" "0"
			"speed_random_exponent" "float" "1"
			"speed_in_local_coordinate_system_min" "vector3" "0 0 0"
			"speed_in_local_coordinate_system_max" "vector3" "0 0 0"
			"functionName" "string" "position_within_sphere"
			"name" "string" "position_within_sphere"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "db7d1a6b-79a8-426b-af50-2ffa952a048a"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"control_point_number" "int" "0"
			"offset min" "vector3" "-512 -512 -950"
			"offset max" "vector3" "512 512 -950"
			"offset in local space 0/1" "bool" "0"
			"functionName" "string" "position_offset_random"
			"name" "string" "position_offset_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "eb4e450b-b36c-464a-8eba-73e43594ede5"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"color1" "color" "68 69 71 255"
			"color2" "color" "130 145 151 255"
			"tint_perc" "float" "0"
			"functionName" "string" "color_random"
			"name" "string" "color_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "bb299843-052a-4cb3-bb69-13c66092d183"
			"rotation_random_exponent" "float" "1"
			"rotation_offset_max" "float" "360"
			"rotation_offset_min" "float" "0"
			"rotation_initial" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "rotation_random"
			"name" "string" "rotation_random"
		}
	]
	"operators" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "419675de-82cf-4ca7-9ea0-407e2194d9a5"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"functionName" "string" "lifespan_decay"
			"name" "string" "lifespan_decay"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "29c96612-008f-468a-a92e-375f0dd6d5ae"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"gravity" "vector3" "0 0 0"
			"drag" "float" "0"
			"max constraint passes" "int" "3"
			"functionName" "string" "basic_movement"
			"name" "string" "basic_movement"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "b083fe70-dd88-45c6-97df-a4eb3ed75468"
			"scale_bias" "float" "0.5"
			"ease_in_and_out" "bool" "0"
			"radius_end_scale" "float" "4"
			"radius_start_scale" "float" "0.5"
			"end_time" "float" "1"
			"start_time" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "radius_scale"
			"name" "string" "radius_scale"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "2b93a254-6cd0-4c8b-898a-ad1c99213e4f"
			"proportional 0/1" "bool" "1"
			"fade out time exponent" "float" "1"
			"fade out time max" "float" "1"
			"fade out time min" "float" "0.8000000119"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_fade_out_random"
			"name" "string" "alpha_fade_out_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "c94a00d1-65ec-4f61-805b-8525734138c4"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"spin_rate_degrees" "int" "15"
			"spin_stop_time" "float" "1"
			"spin_rate_min" "int" "0"
			"functionName" "string" "rotation_spin"
			"name" "string" "rotation_spin"
		}
	]
	"renderers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "e491c251-abc3-401a-99b4-77cb65d3a964"
			"orientation_type" "int" "2"
			"animation_fit_lifetime" "bool" "1"
			"animation rate" "float" "0.1000000015"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "render_animated_sprites"
			"name" "string" "render_animated_sprites"
		}
	]
	"name" "string" "Rain_01_impactring"
}

"DmeParticleSystemDefinition"
{
	"id" "elementid" "d9fd89d2-da4a-400f-9d43-fd23f7b6cd0d"
	"sequence_number" "int" "0"
	"rotation_speed" "float" "0"
	"rotation" "float" "0"
	"color" "color" "255 255 255 255"
	"radius" "float" "5"
	"bounding_box_max" "vector3" "512 512 32"
	"bounding_box_min" "vector3" "-512 -512 -32"
	"bounding_box_control_point" "int" "0"
	"material" "string" "particle\\smoke1\\smoke1.vmt"
	"initial_particles" "int" "0"
	"max_particles" "int" "10000"
	"preventNameBasedLookup" "bool" "0"
	"constraints" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "827a5632-a05a-44a7-91d5-5c2e3969c003"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"minimum distance" "float" "128"
			"maximum distance" "float" "10000"
			"control point number" "int" "0"
			"offset of center" "vector3" "0 0 0"
			"global center point" "bool" "1"
			"functionName" "string" "Constrain distance to control point"
			"name" "string" "Constrain distance to control point"
		}
	]
	"forces" "element_array" 
	[
	]
	"children" "element_array" 
	[
	]
	"emitters" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "e5a9abc7-c885-4d88-a3a6-53819d8056e1"
			"emission_duration" "float" "0"
			"emission_rate" "float" "10"
			"emission_start_time" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "emit_continuously"
			"name" "string" "emit_continuously"
		}
	]
	"initializers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "f953d24a-f0e9-4896-ad17-32dbead7e2cb"
			"alpha_random_exponent" "float" "1"
			"alpha_max" "int" "6"
			"alpha_min" "int" "3"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_random"
			"name" "string" "alpha_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "2aa41346-400a-4a3b-ab46-85d1dcc31305"
			"radius_random_exponent" "float" "1"
			"radius_max" "float" "12"
			"radius_min" "float" "8"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "radius_random"
			"name" "string" "radius_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "89be368f-812e-403b-9ec2-31a34727fee6"
			"lifetime_random_exponent" "float" "1"
			"lifetime_max" "float" "3"
			"lifetime_min" "float" "1"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "lifetime_random"
			"name" "string" "lifetime_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "9d40df31-7489-4da6-8e95-2d142f44c6c5"
			"speed_in_local_coordinate_system_max" "vector3" "0 0 8"
			"speed_in_local_coordinate_system_min" "vector3" "0 0 4"
			"speed_random_exponent" "float" "1"
			"speed_max" "float" "4"
			"speed_min" "float" "0"
			"control_point_number" "int" "0"
			"bias in local system" "bool" "1"
			"distance_bias_absolute_value" "vector3" "0 0 0"
			"distance_bias" "vector3" "1 0 0"
			"distance_max" "float" "12"
			"distance_min" "float" "2"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "position_within_sphere"
			"name" "string" "position_within_sphere"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "2e42ba6e-6ac4-4af5-bc2a-7bde6b09beeb"
			"tint_perc" "float" "0"
			"color2" "color" "179 198 204 255"
			"color1" "color" "113 115 117 255"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "color_random"
			"name" "string" "color_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "6e4336ae-795c-4720-9d6d-3a0674aa849b"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"rotation_initial" "float" "0"
			"rotation_offset_min" "float" "0"
			"rotation_offset_max" "float" "360"
			"rotation_random_exponent" "float" "1"
			"functionName" "string" "rotation_random"
			"name" "string" "rotation_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "8c0855ab-8f65-42c4-88a2-c1b093b8fd02"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"control_point_number" "int" "0"
			"offset min" "vector3" "-6 -2 -2"
			"offset max" "vector3" "6 2 1"
			"offset in local space 0/1" "bool" "1"
			"functionName" "string" "position_offset_random"
			"name" "string" "position_offset_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "e67829b9-6f66-461a-9e51-e986ae1f6dc7"
			"sequence_max" "int" "15"
			"sequence_min" "int" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "sequence_random"
			"name" "string" "sequence_random"
		}
	]
	"operators" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "2f62f2be-41ba-4340-869e-99fdb28f0a25"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "lifespan_decay"
			"name" "string" "lifespan_decay"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "b0acf39d-b359-428a-9b60-200374e40d99"
			"max constraint passes" "int" "3"
			"drag" "float" "0"
			"gravity" "vector3" "0 0 -5"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "basic_movement"
			"name" "string" "basic_movement"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "61fe61d9-6d19-4b7e-b25b-ea5a7384c27d"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"start_time" "float" "0"
			"end_time" "float" "1"
			"radius_start_scale" "float" "1"
			"radius_end_scale" "float" "2"
			"ease_in_and_out" "bool" "0"
			"scale_bias" "float" "0.5"
			"functionName" "string" "radius_scale"
			"name" "string" "radius_scale"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "0cc620a2-0982-4044-b726-173bcc1fead2"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"fade out time min" "float" "0.3000000119"
			"fade out time max" "float" "0.6999999881"
			"fade out time exponent" "float" "1"
			"proportional 0/1" "bool" "1"
			"functionName" "string" "alpha_fade_out_random"
			"name" "string" "alpha_fade_out_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "7bd31717-82fb-481d-8c23-ad2742ca5cde"
			"spin_rate_min" "int" "0"
			"spin_stop_time" "float" "0.5"
			"spin_rate_degrees" "int" "5"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "rotation_spin"
			"name" "string" "rotation_spin"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "4447db85-e8a3-4f09-b196-43c729d6d9d4"
			"proportional 0/1" "bool" "1"
			"fade in time exponent" "float" "1"
			"fade in time max" "float" "0.25"
			"fade in time min" "float" "0.25"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_fade_in_random"
			"name" "string" "alpha_fade_in_random"
		}
	]
	"renderers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "df4ba2eb-81d7-4f59-ad06-9286ed08757f"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"animation rate" "float" "2.7000000477"
			"animation_fit_lifetime" "bool" "1"
			"orientation_type" "int" "0"
			"functionName" "string" "render_animated_sprites"
			"name" "string" "render_animated_sprites"
		}
	]
	"name" "string" "Rain_01_character_shoulder_b"
}

"DmeParticleSystemDefinition"
{
	"id" "elementid" "942ebd17-0569-487b-ac7e-64dad8724395"
	"sequence_number" "int" "0"
	"rotation_speed" "float" "0"
	"rotation" "float" "0"
	"color" "color" "255 255 255 255"
	"radius" "float" "5"
	"bounding_box_max" "vector3" "512 512 32"
	"bounding_box_min" "vector3" "-512 -512 -32"
	"bounding_box_control_point" "int" "0"
	"material" "string" "particle\\smoke1\\smoke1.vmt"
	"initial_particles" "int" "0"
	"max_particles" "int" "10000"
	"preventNameBasedLookup" "bool" "0"
	"constraints" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "ccb3ee79-8d19-47b6-9ca0-869866e8ea93"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"minimum distance" "float" "128"
			"maximum distance" "float" "10000"
			"control point number" "int" "0"
			"offset of center" "vector3" "0 0 0"
			"global center point" "bool" "1"
			"functionName" "string" "Constrain distance to control point"
			"name" "string" "Constrain distance to control point"
		}
	]
	"forces" "element_array" 
	[
	]
	"children" "element_array" 
	[
	]
	"emitters" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "8b6fb181-dd17-4371-9870-9f17f9a96661"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"emission_start_time" "float" "0"
			"emission_rate" "float" "7"
			"emission_duration" "float" "0"
			"functionName" "string" "emit_continuously"
			"name" "string" "emit_continuously"
		}
	]
	"initializers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "3ccca367-6462-4f52-ba24-62e55da9c2ee"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"alpha_min" "int" "3"
			"alpha_max" "int" "6"
			"alpha_random_exponent" "float" "1"
			"functionName" "string" "alpha_random"
			"name" "string" "alpha_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "706d6d84-9ed2-419d-8ef6-e44c003d9194"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"radius_min" "float" "8"
			"radius_max" "float" "12"
			"radius_random_exponent" "float" "1"
			"functionName" "string" "radius_random"
			"name" "string" "radius_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "22e0fb15-9011-40ba-b474-b09d68e0b269"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"lifetime_min" "float" "1"
			"lifetime_max" "float" "3"
			"lifetime_random_exponent" "float" "1"
			"functionName" "string" "lifetime_random"
			"name" "string" "lifetime_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "22c601b6-d24a-4b8b-9aef-0529b2352e04"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"distance_min" "float" "8"
			"distance_max" "float" "8"
			"distance_bias" "vector3" "0 0 1"
			"distance_bias_absolute_value" "vector3" "0 0 1"
			"bias in local system" "bool" "1"
			"control_point_number" "int" "0"
			"speed_min" "float" "2"
			"speed_max" "float" "4"
			"speed_random_exponent" "float" "1"
			"speed_in_local_coordinate_system_min" "vector3" "0 0 4"
			"speed_in_local_coordinate_system_max" "vector3" "0 0 8"
			"functionName" "string" "position_within_sphere"
			"name" "string" "position_within_sphere"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "c4c00f67-5f29-4443-b0cd-d0b45e21070f"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"color1" "color" "113 115 117 255"
			"color2" "color" "179 198 204 255"
			"tint_perc" "float" "0"
			"functionName" "string" "color_random"
			"name" "string" "color_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "908ac021-f5fc-4ed1-a2f1-8302568d7f99"
			"rotation_random_exponent" "float" "1"
			"rotation_offset_max" "float" "360"
			"rotation_offset_min" "float" "0"
			"rotation_initial" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "rotation_random"
			"name" "string" "rotation_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "16c5d4ca-a9ca-4fdb-a716-9710a62171b4"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"sequence_min" "int" "0"
			"sequence_max" "int" "15"
			"functionName" "string" "sequence_random"
			"name" "string" "sequence_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "1b81d4ad-2058-4729-9d02-af2f4c085a9c"
			"offset in local space 0/1" "bool" "0"
			"offset max" "vector3" "2 2 -4"
			"offset min" "vector3" "-8 -2 -6"
			"control_point_number" "int" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "position_offset_random"
			"name" "string" "position_offset_random"
		}
	]
	"operators" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "85296167-2378-49b0-9942-72ad66ad3c51"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"functionName" "string" "lifespan_decay"
			"name" "string" "lifespan_decay"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "0d55bf5f-e82c-44b9-929b-9f070d5dc1b7"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"gravity" "vector3" "0 0 -5"
			"drag" "float" "0"
			"max constraint passes" "int" "3"
			"functionName" "string" "basic_movement"
			"name" "string" "basic_movement"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "2f5118bf-ee95-4a81-afff-492ebfe6b912"
			"scale_bias" "float" "0.5"
			"ease_in_and_out" "bool" "0"
			"radius_end_scale" "float" "2"
			"radius_start_scale" "float" "1"
			"end_time" "float" "1"
			"start_time" "float" "0"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "radius_scale"
			"name" "string" "radius_scale"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "dc29bd12-96ce-41af-af44-c4262ee159ab"
			"proportional 0/1" "bool" "1"
			"fade out time exponent" "float" "1"
			"fade out time max" "float" "0.6999999881"
			"fade out time min" "float" "0.3000000119"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "alpha_fade_out_random"
			"name" "string" "alpha_fade_out_random"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "e1651e82-9dd6-4eb5-b96f-fb449af0714a"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"spin_rate_degrees" "int" "5"
			"spin_stop_time" "float" "0.5"
			"spin_rate_min" "int" "0"
			"functionName" "string" "rotation_spin"
			"name" "string" "rotation_spin"
		},
		"DmeParticleOperator"
		{
			"id" "elementid" "dd0d7baa-8b35-4740-887c-ed1045531f16"
			"operator start fadein" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadeout" "float" "0"
			"operator fade oscillate" "float" "0"
			"fade in time min" "float" "0.25"
			"fade in time max" "float" "0.25"
			"fade in time exponent" "float" "1"
			"proportional 0/1" "bool" "1"
			"functionName" "string" "alpha_fade_in_random"
			"name" "string" "alpha_fade_in_random"
		}
	]
	"renderers" "element_array" 
	[
		"DmeParticleOperator"
		{
			"id" "elementid" "3761d449-d040-44ee-ac8b-19c418e7aa42"
			"orientation_type" "int" "0"
			"animation_fit_lifetime" "bool" "1"
			"animation rate" "float" "2.7000000477"
			"operator fade oscillate" "float" "0"
			"operator end fadeout" "float" "0"
			"operator start fadeout" "float" "0"
			"operator end fadein" "float" "0"
			"operator start fadein" "float" "0"
			"functionName" "string" "render_animated_sprites"
			"name" "string" "render_animated_sprites"
		}
	]
	"name" "string" "Rain_01_character_head_b"
}

